// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "cocktail";

ul {
  text-decoration: none;
}


body {
  font-family: 'Bree Serif', serif;
}

body .container .header {
  height: 100px;
  font-weight: bold;
  background-image: url("../../../images/cocktail.png");
  background-position: cover;
  font-family: 'Bree Serif', serif;
}

.bloc {
  margin : 30px auto;
  width : 600px;
}
// .btn-flat {
//   color: white;
//   padding: 8px 24px;
//   border-radius: 4px;
//   background: #d1245d;
//   transition: background 0.3s ease;
//   margin: 20px;
// }
